#main.home {
  > .ui-container .ui-button {
    --button-background: var(--highlight-color);
  }

  > .layout-content {
    > .card-group:nth-of-type(1) {
      --card-label-background: var(--primary);
      --card-label-justify: center;
      --card-label-padding: 5;
      --card-text-color: var(--body);
    }

    > .card-group:nth-of-type(4) {
      --card-label-background: var(--gray);
      --card-text-color: var(--text-color);
      --button-background: var(--secondary);
    }
  }

  section.banners {
    --button-background: var(--highlight-color);
  }
}
