:root {
  --body: 255, 255, 255;
  --primary: 42, 65, 110;
  --secondary: 208, 189, 152;
  --highlight-color: 255, 0, 0;
  --default-button-background: var(--primary);
  --default-button-color: var(--body);
  --text-muted: 144, 140, 135;
  --text-color: 0, 0, 0;
  --gray: 235, 235, 235;
}
