@import "@breakpoints";

.video {
  position: relative;
  display: flex;

  &-background {
    width: 100%;

    @include max($desktop) {
      aspect-ratio: 16/9;
    }

    @include min($desktop) {
      aspect-ratio: 16/8;
    }
  }

  &-player {
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 16/9;
    width: 70%;
  }
}
